
<button type="button" class="btn btn-primary" [routerLink]="['/candidatos']">Candidatos</button>
<button type="button" class="btn btn-primary" [routerLink]="['/relacion']">Relaciones</button>
<button type="button" class="btn btn-primary" [routerLink]="['/tecnologias']">Tecnologias</button>
<button type="button" class="btn btn-primary" [routerLink]="['/experiencia']">Experiencia</button>
<button type="button" class="btn btn-primary" [routerLink]="['/tecnologias']">Titulos</button>
<button type="button" class="btn btn-primary" [routerLink]="['/tecnologias']">Otros titulos</button>



<router-outlet></router-outlet>


